

h1,h2{
    font-family: 'Poppins', sans-serif;
    font-size: x-large;
    font-weight: bold;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    width: 100%;
    overflow-x: hidden;
}
.First{
    background-image: url("bg-hero-desktop.svg");
    background-repeat: no-repeat;
    background-color: hsl(193, 100%, 96%);
    padding-top: 15px;
}
.con1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.left {
    height: 40px;
    width: 200px;
    
}
.btn button{
    display: block;
    border-radius: 25px;
    border: 3px whitesmoke;
    width:200px;
    font-size: larger;
    height:40px;
    margin-right: 40px;
    padding:10px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 3px 3px 3px 3px grey;
}
.con2{
    display:flex;
    flex-direction: row;
    margin-top:30px;
    padding: 30px;
    justify-content: space-between;




}
.message{
    width:400px;
}
.message button{
    display: block;
    border: 1px;
    width: 250px;
    padding: 10px;
    font-size: 16px;
    background-color: hsl(322, 100%, 66%);
    border-radius: 25px;
}
.grit{
    width:600px
}
.Container0{
    display:inline-flex;
    flex-direction: row;
    margin-top:50px;
    margin-left: 50px;
    Margin-left:50px;
    padding: 20px;
    width:1100px;
    justify-content: space-between;
    border: 3px solid whitesmoke;
    border-radius: 25px;
}
.Container1{
    display:inline-flex;
    flex-direction: row;
    margin-top:50px;
    margin-left: 50px;
    margin-right:50px;
    padding: 20px;
    width:1100px;
    justify-content: space-between;
    border: 3px solid whitesmoke;
    border-radius: 25px;
}
.last{
    margin-top: 100px;
    margin-left:330px;
    display:block;
    border: 3px solid whitesmoke;
    border-radius: 15px;
    height:200px;
    padding:30px 0 0 160px ;
    width:450px;
    background-color:white ;
    position: absolute;
    z-index: 10;

}
.last button{

    display: block;
    border: 1px;
    width: 250px;
    padding: 10px;
    font-size: 16px;
    background-color: hsl(322, 100%, 66%);
    border-radius: 25px;
}
footer{
    background-color: hsl(192, 100%, 9%);
    width:100%;
    height:500px;
    position: relative;
    margin-top: 200px;
    padding-top:190px;
    padding-left: 50px;
    padding-right: 50px;

}

.backlog{
   
    display:flex;
    flex-direction: column;
    color: white;
}
ul{
    list-style: none;

}
.loc li{ 
margin-left: 20px;
 width:240px;
 position: relative;

}
span{
    margin-left: 10px;
}


.loco img{
    color: white;
}
.info{
    display: flex;
    flex-direction: row;
}
.loc{
    width:350px;
    margin-right: 50px;
}
.site{
    width:200px;
    margin-right: 50px;
}
a{
    color: whitesmoke;
    text-underline-offset:none;
}
.site li:hover{
    color: cyan;
    text-decoration: underline;
}

.fa{
font-size: 64px;
color: white;
}
.social li{
    margin:13px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 5px;

}
.fa-facebook:hover{
    color: blue;

}
.fa-twitter:hover{
    color: blue;
}
.fa-instagram:hover{
    color:magenta;
}
footer p{
    color: white;
    text-align: right;
    margin-right: 80px;
}